.examBox {
  background: #f6ff00;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  width: 8rem;
}
.betterResult {
  background: #15ff00;
}
.badResult {
  background: #ff0000;
}

.examName {
  font-size: 1.2rem;
}
.examScore {
  font-size: 1.8rem;
}
