.addStudentModalLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.addStudentModalLayout > div:not(:last-child) {
  display: flex;
  flex-direction: column;

  font-size: 1.6rem;
}
.addStudentModalLayout label {
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

.buttons {
  grid-column: 1/-1;

  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}
.buttons button {
  margin-right: 2rem;
  margin-left: 2rem;

  cursor: pointer;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid #0075ce;
}
.buttons button:active,
.buttons button:hover {
  background-color: #0075ce;
  color: #fff;
}
